.product-image {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
}


.product-info {
    color: green;
    text-align: center;

}

.info {
    text-align: center;
}

.product {
    text-align: center;

}

.post-button {
    text-align: center;
}


.highlight {
    background-color: rgb(59, 209, 14);
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.orders-header {
    align-items: center;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.orders-header {
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}